<ion-header [translucent]="true">
  <ion-toolbar>
    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
  </ion-header>
  <ion-searchbar showCancelButton="focus" class="custom" placeholder="Buscar em todo o iFood"></ion-searchbar>
  <h5>Categorias</h5>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card class="Mercado">
          <img class="imagemercado" src="../../assets/mercado.png" alt="Descrição da imagem">
          <ion-card-header>
            <ion-card-title>Mercado</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card class="Farmácia">
          <img class="imagefarmacia" src="../../assets/farmacia.png" alt="Descrição da imagem">
          <ion-card-header>
            <ion-card-title>Farmácia</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card class="Bebidas">
          <img class="imagebebidas" src="../../assets/bebidas.png" alt="Descrição da imagem">
          <ion-card-header>
            <ion-card-title>Bebidas</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card class="Pet">
          <img class="imagePet" src="../../assets/pet.png" alt="Descrição da imagem">
          <ion-card-header>
            <ion-card-title>Pet</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card class="Shopping">
          <img class="imageshopping" src="../../assets/shopping.png" alt="Descrição da imagem">
          <ion-card-header>
            <ion-card-title>Shopping</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card class="Açaí">
          <img class="imageacai" src="../../assets/acai.png" alt="Descrição da imagem">
          <ion-card-header>
            <ion-card-title>Açaí</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card class="RestauranteSuper">
          <img class="imageRestau" src="../../assets/restautop.png" alt="Descrição da imagem">
          <ion-card-header>
            <ion-card-title>Restaurante Super</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card class="Doces">
          <img class="imagedoce" src="../../assets/doce.png" alt="Descrição da imagem">
          <ion-card-header>
            <ion-card-title>Doces & Bolos</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card class="Salgados">
          <img class="imagesaugados" src="../../assets/salgaado.png" alt="Descrição da imagem">
          <ion-card-header>
            <ion-card-title>Salgados</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card class="Pastel">
          <img class="imagePastel" src="../../assets/pastel.png" alt="Descrição da imagem">
          <ion-card-header>
            <ion-card-title>Pastel</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card class="Sorvete">
          <img class="imageSorvete" src="../../assets/sorvete.png" alt="Descrição da imagem">
          <ion-card-header>
            <ion-card-title>Sorvetes</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card class="Padarias">
          <img class="imagepadaria" src="../../assets/padaria.png" alt="Descrição da imagem">
          <ion-card-header>
            <ion-card-title>Padarias</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card class="Cafeterias">
          <img class="imagecafete" src="../../assets/cafeteria.PNG" alt="Descrição da imagem">
          <ion-card-header>
            <ion-card-title>Cafeterias</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card class="crepes">
          <img class="imagecrep" src="../../assets/crepe.PNG" alt="Descrição da imagem">
          <ion-card-header>
            <ion-card-title>Crepes e Panquecas</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
