<ion-content>
  <ion-header collapse="condense">
  </ion-header>
  <ion-searchbar showCancelButton="focus" class="custom" placeholder="Buscar em todo o iFood"></ion-searchbar>
  <h5>Categorias</h5>
  <ion-grid>
    <ion-row class="ion-no-padding">
      <ion-col size="4">
        <ion-card class="Mercado">
          <img class="imagemercado" src="../../assets/" alt="Descrição da imagem">
          <ion-card-header>
            <ion-card-title>Mercado</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="4">
        <ion-card class="Farmácia">
          <img class="imagefarmacia" src="../../assets/" alt="Descrição da imagem">
          <ion-card-header>
            <ion-card-title>Farmácia</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
